numpy
scipy
sympy
pandas
pyyaml
geopandas
matplotlib
seaborn
jupyter
jupyterlab
Pillow
imageio
opencv-python
scikit-learn
scikit-image
h5py
imbalanced-learn
hyperopt
statsmodels
MulticoreTSNE
umap-learn
spacy[ja]
google-cloud-bigquery[bqstorage,pandas]
pyarrow
ipywidgets
lckr-jupyterlab-variableinspector

